.navbar-brand{
    color: #777777 !important;
    padding-right: 1em;
    border-right: 2px solid black;
}
li.nav-item.active > a{
    color: #c22330 !important;
}
p.abstract{
    text-align: justify
}
h2.title{
    text-align: center;
    margin-bottom: 1em;
}
h2 {
    margin-bottom: 1em;
}
.list-group{
    margin-bottom: 1em !important;
}
.result_images > img {
    position:relative;
    width: 50%;
    margin: 0 25% 1em 25%;
}
